{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-boby">
        <h1 class="display-1 text-center">Django App</h1>
    <p>Bienvenidos a mi primera app web con DJANGO estoy muy feliz de poder desplegar mi primera app web. gracias a mi Familia por todo el apollo</p>
    <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'signin' %}">signin</a>
        <a class="btn btn-dark" href="{% url 'signup' %}">signup</a>
    </div>
    </section>
</main>
{% endblock %}